# See http://help.github.com/ignore-files/ for more about ignoring files.
/build/**
/dist/**

#Ignore IDE configs
/server/.idea
/server/src/cmake-build-debug
/client/.idea
/client/src/cmake-build-debug
/libs/.idea
/libs/src/cmake-build-debug

#Ignore asio doc files
/server/libs/asio-1.12.2/doc/**
!/server/libs/asio-1.12.2/doc/examples
\.idea/
libs/src/cmake-build-debug/

libs/src/cmake-build-debug/
/doc/.vscode/ipch/6ad81b5708390f51/mmap_address.bin
/client/build-client-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/
/server/build-server-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/
libs/cmake-build-debug/

server/build-server-Desktop_Qt_5_12_3_clang_64bit-Debug/

client/build-client-Desktop_Qt_5_12_3_clang_64bit-Debug/

client/build-client-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/

server/build-server-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/

client/build-client-Desktop_Qt_5_12_3_clang_64bit-Debug/
server/build-server-Desktop_Qt_5_12_2_GCC_64bit-Debug/

client/build-client-Desktop_Qt_5_12_2_GCC_64bit-Debug/
/client/src/client.pro.user
/server/src/server.pro.user

client/build-client-Qt_5_12_3_for_iOS-Debug/

client/src/client\.pro\.user

server/src/server\.pro\.user
client/build-client-Qt_5_12_3_for_iOS-Debug/
client/build-client-Qt_5_12_3_for_iOS-Debug/
/.vscode/ipch/7b79adc2115e1fd3/mmap_address.bin
/libs/.vscode/ipch/1b3e72de1164de2a/KK_CRDT.ipch
/libs/.vscode/ipch/1b3e72de1164de2a/mmap_address.bin
/.vscode/ipch/cb3d8171f781087a/mmap_address.bin

server/build-server-Qt_5_12_3_for_iOS-Debug/
server/build-GDB

client/build-client-Desktop_Qt_5_12_3_MinGW_64_bit-Release/
client/build-GDB

/client/builds/.qmake.stash
/client/builds/debug/chatdialog.o
/client/builds/debug/kk_char.o
/client/builds/debug/kk_client.o
/client/builds/debug/kk_crdt.o
/client/builds/debug/kk_crypt.o
/client/builds/debug/kk_identifier.o
/client/builds/debug/kk_payload.o
/client/builds/debug/kk_pos.o
/client/builds/debug/KlapKlap_Client.exe
/client/builds/debug/login.o
/client/builds/debug/main.o
/client/builds/debug/moc_chatdialog.cpp
/client/builds/debug/moc_chatdialog.o
/client/builds/debug/moc_kk_client.cpp
/client/builds/debug/moc_kk_client.o
/client/builds/debug/moc_login.cpp
/client/builds/debug/moc_login.o
/client/builds/debug/moc_modaldialog.cpp
/client/builds/debug/moc_modaldialog.o
/client/builds/debug/moc_openfiledialog.cpp
/client/builds/debug/moc_openfiledialog.o
/client/builds/debug/moc_predefs.h
/client/builds/debug/moc_sharefiledialog.cpp
/client/builds/debug/moc_sharefiledialog.o
/client/builds/debug/moc_textedit.cpp
/client/builds/debug/moc_textedit.o
/client/builds/debug/modaldialog.o
/client/builds/debug/openfiledialog.o
/client/builds/debug/qrc_client.cpp
/client/builds/debug/qrc_client.o
/client/builds/debug/sharefiledialog.o
/client/builds/debug/textedit.o
/client/builds/Makefile
/client/builds/Makefile.Debug
/client/builds/Makefile.Release
/client/builds/object_script.KlapKlap_Client.Debug
/client/builds/object_script.KlapKlap_Client.Release
/client/builds/ui_accessdialog.h
/client/builds/ui_chatdialog.h
/client/builds/ui_modaldialog.h
/client/builds/ui_openfiledialog.h
/client/builds/ui_sharefiledialog.h
/server/builds/.qmake.stash
/server/builds/debug/emailaddress.o
/server/builds/debug/kk_char.o
/server/builds/debug/kk_crdt.o
/server/builds/debug/kk_crypt.o
/server/builds/debug/kk_db.o
/server/builds/debug/kk_file.o
/server/builds/debug/kk_filesys.o
/server/builds/debug/kk_identifier.o
/server/builds/debug/kk_participant.o
/server/builds/debug/kk_payload.o
/server/builds/debug/kk_pos.o
/server/builds/debug/kk_room.o
/server/builds/debug/kk_server.o
/server/builds/debug/kk_session.o
/server/builds/debug/kk_smtp.o
/server/builds/debug/kk_task.o
/server/builds/debug/kk_user.o
/server/builds/debug/KlapKlap_Server.exe
/server/builds/debug/KlapKlap_Server_resource_res.o
/server/builds/debug/main.o
/server/builds/debug/mimecontentformatter.o
/server/builds/debug/mimehtml.o
/server/builds/debug/mimemessage.o
/server/builds/debug/mimemultipart.o
/server/builds/debug/mimepart.o
/server/builds/debug/mimetext.o
/server/builds/debug/moc_emailaddress.cpp
/server/builds/debug/moc_emailaddress.o
/server/builds/debug/moc_kk_server.cpp
/server/builds/debug/moc_kk_server.o
/server/builds/debug/moc_kk_session.cpp
/server/builds/debug/moc_kk_session.o
/server/builds/debug/moc_kk_task.cpp
/server/builds/debug/moc_kk_task.o
/server/builds/debug/moc_mimecontentformatter.cpp
/server/builds/debug/moc_mimecontentformatter.o
/server/builds/debug/moc_mimehtml.cpp
/server/builds/debug/moc_mimehtml.o
/server/builds/debug/moc_mimemultipart.cpp
/server/builds/debug/moc_mimemultipart.o
/server/builds/debug/moc_mimepart.cpp
/server/builds/debug/moc_mimepart.o
/server/builds/debug/moc_predefs.h
/server/builds/debug/moc_quotedprintable.cpp
/server/builds/debug/moc_quotedprintable.o
/server/builds/debug/moc_smtpclient.cpp
/server/builds/debug/moc_smtpclient.o
/server/builds/debug/qrc_server.cpp
/server/builds/debug/qrc_server.o
/server/builds/debug/quotedprintable.o
/server/builds/debug/smtpclient.o
/server/builds/KlapKlap_Server_resource.rc
/server/builds/Makefile
/server/builds/Makefile.Debug
/server/builds/Makefile.Release
/server/builds/object_script.KlapKlap_Server.Debug
/server/builds/object_script.KlapKlap_Server.Release
/client/builds/release/Makefile
/client/builds/release/Makefile.Debug
/client/builds/release/Makefile.Release
/client/builds/release/object_script.KlapKlap_Client.Debug
/client/builds/release/object_script.KlapKlap_Client.Release
/client/builds/release/release/chatdialog.o
/client/builds/release/release/kk_char.o
/client/builds/release/release/kk_client.o
/client/builds/release/release/kk_crdt.o
/client/builds/release/release/kk_crypt.o
/client/builds/release/release/kk_identifier.o
/client/builds/release/release/kk_payload.o
/client/builds/release/release/kk_pos.o
/client/builds/release/release/KlapKlap_Client.exe
/client/builds/release/release/login.o
/client/builds/release/release/main.o
/client/builds/release/release/moc_chatdialog.cpp
/client/builds/release/release/moc_chatdialog.o
/client/builds/release/release/moc_kk_client.cpp
/client/builds/release/release/moc_kk_client.o
/client/builds/release/release/moc_login.cpp
/client/builds/release/release/moc_login.o
/client/builds/release/release/moc_modaldialog.cpp
/client/builds/release/release/moc_modaldialog.o
/client/builds/release/release/moc_openfiledialog.cpp
/client/builds/release/release/moc_openfiledialog.o
/client/builds/release/release/moc_predefs.h
/client/builds/release/release/moc_sharefiledialog.cpp
/client/builds/release/release/moc_sharefiledialog.o
/client/builds/release/release/moc_textedit.cpp
/client/builds/release/release/moc_textedit.o
/client/builds/release/release/modaldialog.o
/client/builds/release/release/openfiledialog.o
/client/builds/release/release/qrc_client.cpp
/client/builds/release/release/qrc_client.o
/client/builds/release/release/sharefiledialog.o
/client/builds/release/release/textedit.o
/client/builds/release/ui_accessdialog.h
/client/builds/release/ui_chatdialog.h
/client/builds/release/ui_modaldialog.h
/client/builds/release/ui_openfiledialog.h
/client/builds/release/ui_sharefiledialog.h
