# See http://help.github.com/ignore-files/ for more about ignoring files.
/build/**
/dist/**

#Ignore IDE configs
/server/.idea
/server/src/cmake-build-debug
/client/.idea
/client/src/cmake-build-debug
/libs/.idea
/libs/src/cmake-build-debug

#Ignore asio doc files
/server/libs/asio-1.12.2/doc/**
!/server/libs/asio-1.12.2/doc/examples
\.idea/
libs/src/cmake-build-debug/

libs/src/cmake-build-debug/
/doc/.vscode/ipch/6ad81b5708390f51/mmap_address.bin
/client/build-client-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/
/server/build-server-Desktop_Qt_5_12_2_MinGW_64_bit-Debug/
libs/cmake-build-debug/

server/build-server-Desktop_Qt_5_12_3_clang_64bit-Debug/

client/build-client-Desktop_Qt_5_12_3_clang_64bit-Debug/

client/build-client-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/

server/build-server-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/

client/build-client-Desktop_Qt_5_12_3_clang_64bit-Debug/
server/build-server-Desktop_Qt_5_12_2_GCC_64bit-Debug/

client/build-client-Desktop_Qt_5_12_2_GCC_64bit-Debug/
/client/src/client.pro.user
/server/src/server.pro.user

client/build-client-Qt_5_12_3_for_iOS-Debug/
